@import "reset.css";

:root {
  /* Color */
  --color-white: #fff;
  --color-silver: #c0c0c0;
  --color-light-blue: #016cf9;
  --color-blue: #0063e5;
  --color-navy: #040714;
  --color-black: #000;

  /* Font size */
  --heading-large: 44px;
  --heading-medium: 40px;
  --heading-regular: 28px;
  --heading-small: 24px;
  --font-large: 20px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Border radius */
  --border-radius: 4px;

  /* Transition */
  --transition: 300ms;
}

/* Universal */
* {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
  color: silver;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
.section__container {
  padding: 5.6vw;
}
h1 {
  font-size: var(--heading-large);
  color: var(--color-white);
  line-height: 54px;
}
h2 {
  font-size: var(--heading-medium);
  color: var(--color-white);
  line-height: 50px;
}
h3 {
  font-size: var(--heading-regular);
  color: var(--color-white);
  line-height: 38px;
}
h4 {
  color: var(--color-white);
  font-size: var(--heading-small);
  line-height: 34px;
}
.large {
  font-size: var(--font-large);
  line-height: 30px;
}
.medium {
  font-size: var(--font-medium);
  line-height: 28px;
}
.regular {
  font-size: var(--font-regular);
  line-height: 26px;
}
.small {
  font-size: var(--font-small);
  line-height: 22px;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  background-color: var(--color-navy);
}
#navbar .section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.navbar__logo {
  max-width: 80px;
}
.navbar__membership {
  display: flex;
}
.navbar__membership a {
  padding: 10px 15px;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.membership__signup {
  background-color: var(--color-blue);
  border: none;
  margin-right: 12px;
}
.membership__signup:hover {
  background-color: var(--color-light-blue);
}
.membership__login {
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
}
.membership__login:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

/* Main */
#main {
  min-height: 100vh;
  background-color: var(--color-navy);
}
#main .section__container {
  background: url("image/background.jpeg") center/cover no-repeat;
  background-position: top;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__introduce {
  max-width: 640px;
}
.introduce__logo {
  display: block;
  max-width: 180px;
}
.main__introduce h1 {
  margin-top: 40px;
  letter-spacing: 4px;
}
.introduce__subscribe {
  display: flex;
  margin: 0 -12px;
}
.introduce__subscribe li {
  width: 50%;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}
.introduce__subscribe li .price {
  margin-top: 30px;
}
.introduce__subscribe li .membership {
  margin-top: 30px;
  font-weight: var(--weight-medium);
}
.introduce__subscribe li a {
  background-color: var(--color-blue);
  text-align: center;
  transition: var(--transition);
  padding: 20px 0;
  margin-top: 30px;
  border-radius: var(--border-radius);
  font-weight: var(--weight-medium);
}
.introduce__subscribe li a:hover {
  background-color: var(--color-light-blue);
}
.main__introduce .introduce__reference {
  margin-top: 4px;
}

/* Explain */
#explain {
  background-color: var(--color-navy);
}
.explain__advantage {
  display: flex;
  justify-content: space-between;
  margin: 0 -12px;
}
.explain__advantage li {
  padding: 12px;
  width: 33.3%;
}
.explain__advantage li picture {
  max-width: 60px;
  display: block;
}
.explain__advantage li h4 {
  margin-top: 20px;
}
.explain__advantage li p {
  margin-top: 24px;
  font-weight: var(--weight-medium);
}

/* First */
#first {
  background-color: var(--color-navy);
}
.first__description {
  display: flex;
  align-items: center;
}
.first__description li:first-child {
  padding: 0 2vw;
}
.first__description li {
  width: 50%;
  flex: 0 0 50%;
}
.first__description li p {
  margin-top: 24px;
}
