@import "reset.css";
:root {
  /* Color */
  --color-white: #fff;
  --color-silver: #c0c0c0;
  --color-light-blue: #016cf9;
  --color-blue: #0063e5;
  --color-navy: #040714;
  --color-black: #000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Transition */
  --transition: 300ms;
}

/* Universal */

* {
  letter-spacing: 0.2px;
  box-sizing: border-box;
  color: silver;
  background-color: var(--color-navy);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.section__container {
  padding: 5.6vw;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
}
#navbar .section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5.6vw;
}
.navbar__logo img {
  width: 80px;
  height: auto;
}
.navbar__membership {
  display: flex;
}
.navbar__membership a {
  font-size: var(--font-regular);
  padding: 14px 14px;
  border-radius: 4px;
  transition: var(--transition);
}
.membership__signup {
  background-color: var(--color-blue);
  border: none;
  margin-right: 12px;
}
.membership__signup:hover {
  background-color: var(--color-light-blue);
}
.membership__login {
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
}
.membership__login:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}
