@import "reset.css";

:root {
  /* Color */
  --color-white: #fff;
  --color-silver: #c0c0c0;
  --color-light-blue: #016cf9;
  --color-blue: #0063e5;
  --color-light-navy: #13151d;
  --color-navy: #040714;
  --color-black: #000;

  /* Font size */
  --heading-large: 44px;
  --heading-medium: 40px;
  --heading-regular: 28px;
  --heading-small: 24px;
  --font-large: 20px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Border radius */
  --border-radius: 4px;

  /* Transition */
  --transition: 300ms;
}

/* Universal */
* {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
  color: silver;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.section__container {
  padding: 5.6vw;
}
h1 {
  font-size: var(--heading-large);
  color: var(--color-white);
  line-height: 54px;
}
h2 {
  font-size: var(--heading-medium);
  color: var(--color-white);
  line-height: 50px;
}
h3 {
  font-size: var(--heading-regular);
  color: var(--color-white);
  line-height: 38px;
}
h4 {
  color: var(--color-white);
  font-size: var(--heading-small);
  line-height: 34px;
}
.large {
  font-size: var(--font-large);
  line-height: 30px;
}
.medium {
  font-size: var(--font-medium);
  line-height: 28px;
}
.regular {
  font-size: var(--font-regular);
  line-height: 26px;
}
.small {
  font-size: var(--font-small);
  line-height: 22px;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  background-color: var(--color-navy);
  opacity: 0;
  transition: all var(--transition) ease-in-out;
  z-index: 20;
  pointer-events: none;
}
#navbar.visible {
  opacity: 1;
  pointer-events: auto;
}
#navbar .section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.navbar__logo {
  max-width: 80px;
  margin: 0px 14px;
}
.navbar__membership {
  display: flex;
}
.navbar__membership a {
  padding: 10px 16px;
  border-radius: var(--border-radius);
}
.membership__signup {
  background-color: var(--color-blue);
  border: none;
  margin-right: 10px;
}
.membership__signup:hover {
  background-color: var(--color-light-blue);
}
.membership__login {
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
}
.membership__login:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

/* Subnavbar */
#subnavbar a {
  position: fixed;
  z-index: 10;
  top: 10px;
  right: 40px;
  padding: 10px 16px;
  border-radius: var(--border-radius);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  transition: all var(--transition) ease-in-out;
  opacity: 0.8;
}
#subnavbar a:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

/* Main */
#main {
  min-height: 100vh;
  background-color: var(--color-navy);
  position: relative;
}
#main .section__container {
  background: url("image/background.jpeg") center/cover no-repeat;
  background-position: top;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__introduce {
  max-width: 640px;
  width: 50.5%;
}
.introduce__logo {
  display: block;
  max-width: 180px;
}
.main__introduce h1 {
  margin-top: 24px;
}
.introduce__subscribe {
  display: flex;
  margin: 0 -12px;
}
.introduce__subscribe li {
  max-width: 50%;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}
.introduce__subscribe li .price {
  margin-top: 30px;
  letter-spacing: 0;
}
.introduce__subscribe li .membership {
  margin-top: 8px;
}
.introduce__subscribe li a {
  background-color: var(--color-blue);
  text-align: center;
  transition: all var(--transition) ease-in-out;
  margin-top: 16px;
  padding: 16px 24px;
  border-radius: var(--border-radius);
  max-width: 360px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduce__subscribe li a span {
  color: var(--color-white);
  line-height: 18px;
}
.introduce__subscribe li a:hover {
  background-color: var(--color-light-blue);
}

/* Down */
.hint {
  position: absolute;
  left: auto;
  right: 5.6vw;
  bottom: 2vw;
  padding: 6px;
  margin-right: -14px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  animation: ani 1.75s infinite;
}
.down {
  fill: #f9f9f9;
}
@keyframes ani {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-3.5px);
  }
}

/* Explain */
#explain {
  background-color: var(--color-navy);
}
.explain__advantage {
  display: flex;
  justify-content: space-between;
  margin: 0 -12px;
}
.explain__advantage li {
  padding: 12px;
  max-width: 33.3%;
  flex: 0 0 33.3%;
}
.explain__advantage li picture {
  max-width: 60px;
  display: block;
}
.explain__advantage li h4 {
  margin-top: 20px;
  font-weight: var(--weight-regular);
}
.explain__advantage li p {
  margin-top: 24px;
  font-weight: var(--weight-medium);
}

/* First */
#first {
  background-color: var(--color-navy);
}
.first__description {
  display: flex;
  align-items: center;
}
.first__description li:first-child {
  padding: 0 2vw;
}
.first__description li {
  max-width: 50%;
  flex: 0 0 50%;
}
.first__description li p {
  margin-top: 24px;
}

/* Second */
#second {
  background-color: var(--color-navy);
  text-align: center;
}
#second > .section__container > p {
  margin-top: 24px;
}
.second__images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  margin-top: 20px;
}
.second__images li {
  max-width: 33%;
  flex: 0 0 33.3%;
  padding: 12px;
}

/* Third */
#third {
  background-color: var(--color-navy);
  text-align: center;
}
#third > .section__container > p {
  margin-top: 24px;
}
.third__images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  margin-top: 20px;
}
.third__images li {
  max-width: 33%;
  flex-direction: 0 0 33.3%;
  padding: 12px;
}

/* Fourth */
#fourth {
  background-color: var(--color-navy);
  text-align: center;
}
#fourth > div > p {
  margin-top: 24px;
}
.fourth__device {
  display: flex;
  margin: 0 -12px;
  margin-top: 20px;
}
.fourth__device li {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 12px;
}
.fourth__device li h3 {
  margin-top: 20px;
}
.fourth__device li p {
  margin-top: 24px;
}

/* FAQ */
#faq {
  background-color: var(--color-navy);
}
#faq > .section__container > h2 {
  text-align: center;
  margin-bottom: 24px;
}
.faq__accordion-container {
  background-color: var(--color-light-navy);
  margin-top: 16px;
}
.faq__accordion-btn {
  padding: 24px;
  padding-right: 48px;
  width: 100%;
  text-align: left;
  font-size: var(--font-large);
  position: relative;
}
.faq__accordion-btn::after {
  content: "\002B";
  font-size: 40px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.faq__accordion-btn.active::after {
  content: "\2212";
}
.faq__accordion-child {
  max-height: 0;
  overflow: hidden;
  transition: all var(--transition) ease-in-out;
  font-size: var(--font-large);
}
.faq__accordion-child p {
  font-size: var(--font-large);
  line-height: 30px;
  padding: 24px;
  padding-top: 0;
}

/* Footer */
#footer {
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  background-color: var(--color-navy);
}
#footer > .section__container {
  padding: 26px 0;
}
#footer > .section__container > picture {
  max-width: 80px;
  height: auto;
  display: inline-block;
}
.footer__information {
  max-width: 1024px;
  margin: 2px auto 16px;
}
.footer__information select {
  background-color: transparent;
  border: 1px solid transparent;
}
.footer__information select:hover {
  color: var(--color-white);
  text-decoration: underline;
  cursor: pointer;
}
.footer__information select:active {
  border-color: white;
}
.footer__information > a {
  padding: 8px 12px;
  display: inline-block;
  color: var(--color-silver);
}
.footer__information > a:hover {
  color: var(--color-white);
}
.footer__footnonte {
  margin-bottom: 20px;
  letter-spacing: 0.75px;
}

/* Media queries */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    --heading-large: 32px;
    --heading-medium: 28px;
    --heading-regular: 24px;
    --heading-small: 22px;
    --font-large: 16px;
    --font-medium: 15px;
    --font-small: 11px;
  }

  h1 {
    line-height: 1.2;
  }
  h2 {
    line-height: 38px;
  }
  h3 {
    line-height: 34px;
  }
  h4 {
    line-height: 32px;
  }
  .large {
    font-size: var(--font-large);
    line-height: 26px;
  }
  .medium {
    font-size: var(--font-medium);
    line-height: 25px;
  }
  .small {
    font-size: var(--font-small);
    line-height: 21px;
  }
  .section__container {
    padding: 10vw 5vw;
  }

  /* Navbar */
  #navbar .navbar__membership a {
    padding: 12px 16px;
    font-size: 18px;
  }

  /* Subnavbar */

  #subnavbar a {
    font-size: 18px;
    padding: 12px 16px;
  }

  /* Main */
  #main {
    min-height: auto;
  }
  #main .section__container {
    display: block;
    min-height: auto;
  }
  .main__introduce {
    width: 100%;
    max-width: 600px;
  }
  .introduce__logo {
    max-width: 160px;
  }
  .introduce__reference {
    font-size: 12px;
    line-height: 22px;
  }

  /* Explain */
  .explain__advantage li p {
    margin-top: 16px;
  }

  /* First */
  .first__description li p {
    margin-top: 16px;
  }

  /* Second */
  #second .section__container > p {
    margin-top: 16px;
  }

  /* Third */
  #third > .section__container > p {
    margin-top: 16px;
  }

  /* Fourth */
  #fourth > div > p {
    margin-top: 16px;
  }
  .fourth__device li p {
    margin-top: 16px;
  }

  /* FAQ */
  #faq > .section__container > h2 {
    margin-bottom: 16px;
  }
  .faq__accordion-btn,
  .faq__accordion-child p {
    font-size: 18px;
    line-height: 28px;
  }

  /* Footer */
  #footer .section__container {
    padding: 5vw;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --heading-large: 20px;
    --heading-medium: 26px;
    --heading-regular: 22px;
    --heading-small: 16px;
    --font-large: 16px;
    --font-medium: 16px;
    --font-small: 15px;
  }

  h1 {
    line-height: 1.2;
  }
  h2 {
    line-height: 36px;
  }
  h3 {
    line-height: 32px;
  }
  h4 {
    line-height: 26px;
  }
  .large {
    font-size: var(--font-large);
    line-height: 28px;
  }
  .medium {
    font-size: var(--font-medium);
    line-height: 26px;
  }
  .small {
    font-size: var(--font-small);
    line-height: 25px;
  }
  .section__container {
    padding: 10vw 5vw;
  }

  /* Navbar */
  #navbar .section__container {
    padding: 13px 18px;
  }
  #navbar .navbar__membership a {
    padding: 6.5px 8px;
    font-size: var(--font-small);
    line-height: 25px;
  }

  /* Subnavbar */
  #subnavbar a {
    padding: 6.5px 8px;
    font-size: var(--font-small);
    line-height: 25px;
    top: 15px;
    right: 18px;
  }

  /* Main */
  #main {
    text-align: center;
  }
  #main .section__container {
    background: url("image/background2.jpeg") center/cover no-repeat;
    background-position: top;
    min-height: 70vh;
    padding: 40vw 5vw 20vw;
  }
  .main__introduce {
    max-width: 320px;
    margin: 0 auto;
  }
  .introduce__logo {
    max-width: 130px;
    margin: 0 auto;
  }
  .introduce__subscribe {
    flex-direction: column;
    margin: 0 auto;
  }
  .subscribe__month::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    opacity: 0.25;
    margin-top: 12px;
  }
  .introduce__subscribe li {
    padding: 0;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .introduce__subscribe li .price {
    margin-top: 16px;
    line-height: 1.2;
  }
  .introduce__subscribe li .membership {
    margin-top: 4px;
    font-size: 14px;
    line-height: 24px;
  }
  .introduce__subscribe li a {
    margin-top: 8px;
    padding: 0;
    height: 50px;
  }
  .introduce__subscribe li.subscribe__year h3.price {
    margin-top: 12px;
  }
  .introduce__reference {
    font-size: 11px;
    line-height: 21px;
    margin-top: 12px;
  }

  /* Down */
  .hint {
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 6vw;
  }

  /* Explain */
  .explain__advantage {
    flex-direction: column;
  }
  .explain__advantage li {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .explain__advantage li p {
    margin: 16px 0 20px;
    font-size: var(--font-small);
    line-height: 25px;
  }

  /* First */
  .first__description {
    flex-direction: column;
    text-align: center;
  }
  .first__description li {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .first__description li p {
    margin: 16px 0 20px;
    font-size: var(--font-small);
    line-height: 25px;
  }

  /* Second */
  #second > .section__container > p {
    margin: 16px 0 20px;
    line-height: 26px;
  }
  .second__images {
    justify-content: center;
  }
  .second__images li {
    max-width: 50%;
    flex: 0 0 50%;
  }

  /* Third */
  #third > .section__container > p {
    margin: 16px 0 20px;
    line-height: 26px;
  }
  .third__images {
    margin-top: 0;
    justify-content: center;
  }
  .third__images li {
    max-width: 50%;
    flex: 0 0 50%;
  }

  /* Fourth */
  #fourth > div > p {
    margin: 16px 0 20px;
    font-size: var(--font-small);
    line-height: 25px;
  }
  .fourth__device {
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fourth__device li {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .fourth__device li p {
    font-size: var(--font-small);
    line-height: 25px;
  }

  /* FAQ */
  #faq > .section__container h2 {
    margin-bottom: 16px;
  }
  .faq__accordion-btn {
    font-size: var(--font-small);
    line-height: 25px;
  }
  .faq__accordion-child p {
    font-size: var(--font-medium);
    line-height: 26px;
  }

  /* Footer */
  #footer {
    font-size: 11px;
    line-height: 21px;
  }
  #footer .section__container {
    padding: 5vw;
  }
}
